* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: 'Roboto', sans-serif;
    --white-color: #fff;
    --black-color: #000;
    --link-color: #1F2E35;
    --red-color: #EE4248;
    --subtitle-color: #30444E;
    --gray-color: #F6F6F6;
    --location-color: #263238;
    --gray-2: #455a64;
}

html,
body,
.wrapper {
    width: 100%;
    height: 100%;
}

.wrapper {
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

button {
    background-color: transparent;
    border: none;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
}

ul,
ol,
li {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1165px;
    padding: 0 20px;
    margin: 0 auto;
}

/* HEADER - START */

.header {
    padding: 20px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--white-color);
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-mobile {
    display: none;
}

.header-link {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    color: var(--link-color);
    transition: all 0.2s ease;
}

.header-link:not(:last-child) {
    margin-right: 50px;
}

.header-link:hover {
    color: var(--red-color);
}

.header-link.active {
    font-weight: 700;
}

.header-buttons {
    display: flex;
    column-gap: 24px;
}

.header-button path {
    transition: all 0.2s ease-in;
}

.header-button:hover {
    fill: var(--red-color);
}

/* HEADER - END */

/* BANNER - START */

.banner {
    margin: 70px 0;
    position: relative;
}

.banner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 550px;
}

.banner-image {
    max-width: 560px;
    height: 380px;
}

.banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-title {
    color: var(--link-color);
    font-family: var(--main-font);
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 30px;
}

span {
    color: var(--red-color);
    font-family: var(--main-font);
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
}

.banner-subtitle {
    color: var(--subtitle-color);
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.banner-button {
    padding: 12px 20px;
    background-color: var(--red-color);
    border-radius: 4px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: var(--white-color);
    border: 1px solid var(--red-color);
    transition: all 0.2s ease;
}

.banner-button:hover {
    background-color: transparent;
    color: var(--red-color);
}

.main-2 {
    position: relative;
    margin: 0;
    background-color: var(--gray-color);
}

.main_2 {
    position: relative;
    margin: 0;
    background-color: var(--gray-color);
}

.service-wrap-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 52px;
}

.service-wrap_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 52px; 
}

.service-content-2 {
    max-width: 550px;
}

.service-content_2 {
    max-width: 550px;
}

.service-title-2 {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 48px;
    line-height: 134%;
    text-align: center;
    color: var(--location-color);
    margin-top: 55px;
    margin-bottom: 30px;
}

.service-title_2 {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 48px;
    line-height: 141%;
    text-align: center;
    color: var(--location-color);
    margin-top: 50px;
    margin-bottom: 20px;
}

.span-2 {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 48px;
    line-height: 134%;
    text-align: center;
    color: var(--red-color);
}

.span_2 {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 48px;
    line-height: 141%;
    text-align: center;
    color: var(--location-color);
}

.service-desc_2 {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 141%;
    text-align: center;
    color: var(--gray-2);
    margin-bottom: 60px;
}

.main-3 {
    position: relative;
    margin: 0;
    background-color: var(--red-color);
}

.product-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-content {
    max-width: 550px;
}

.product-title {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 48px;
    line-height: 134%;
    text-align: center;
    color: var(--white-color);
    margin-top: 50px;
}

.bolder {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 48px;
    line-height: 134%;
    text-align: center;
    color: var(--white-color);
    margin-bottom: 30px;
}

.main-4 {
    position: relative;
    margin: 0;
    background-color: var(--red-color);
}

.product-wrap-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-content {
    max-width: 550px;
}

.product-title-3 {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 48px;
    line-height: 141%;
    text-align: center;
    color: var(--white-color);
    margin-top: 80px;
    margin-bottom: 40px;
}

.product-button {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 145%;
    color: var(--red-color);
    border-radius: 4px;
    padding: 12px 32px;
    width: 166px;
    height: 53px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.25);
    background: var(--white-color);
    margin-bottom: 220px;
    transition: all 0.2s ease;
    transform: translateX(150%);
}

.product-button:hover {
    background-color: transparent;
    color: var(--white-color);
    background-color: var(--location-color);
}

.tech-product {
    position: relative;
    padding: 60px 0;
}

.tech-content {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.langs {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 120px;
}

.langs:not(:last-child) {
    margin-right: 5px;
}

.logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tech-service {
    margin: 70px 0;
    position: relative;
}

.tech-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.technology-title {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 32px;
    line-height: 141%;
    text-align: center;
    color: var(--location-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.technology-desc {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 141%;
    text-align: justify;
    color: var(--location-color);
}

/* BANNER - END */

/* CENTER - START */


.about {
    position: relative;
    padding: 60px 0;
    background-color: var(--gray-color);
}

.about-4 {
    position: relative;
    padding: 60px 0;
    background-color: var(--gray-color);
}

.about4 {
    position: relative;
    padding: 60px 0;
    background-color: var(--white-color);
}

.about-5 {
    position: relative;
    padding: 60px 0;
    background-color: var(--gray-color);
}

.clients {
    position: relative;
    padding: 60px 0;
    background-color: var(--white-color);
    width: 1540px;
    height: 100px;
}

.client-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.client-title {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 36px;
    line-height: 141%;
    color: var(--subtitle-color);
    margin: 0 auto;
    transform: translateY(-100%);
}

.locate {
    position: relative;
    padding: 60px 0;
    background-color: var(--white-color);
}

.test {
    position: relative;
    padding: 60px 0;
    background-color: var(--white-color);
}

.locate-content-2 {
    display: flex;
    align-items: flex-start;
    justify-content: start;
}

.test-content {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative; 
}

.about-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-content-4 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-content-5 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.locate-content {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.locate-main__title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 32px;
    line-height: 141%;
    color: var(--location-color);
    margin-bottom: 50px;
}

.test-title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 36px;
    line-height: 141%;
    color: var(--subtitle-color);
    margin-bottom: 100px;
}

.about-image {
    background-color: transparent;
    border: none;
    margin-bottom: 95px;
}

.about_image-4 {
    margin-right: 50px;
}

.about_image-5 {
    margin-right: 50px;
}

.future-title-1 {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 32px;
    line-height: 141%;
    color: var(--subtitle-color);
    margin-bottom: 16px;
}

.future-desc-1 {
    font-family: var(--main-font);
    line-height: 160%;
    font-weight: 400;
    font-size: 18px;
    color: var(--subtitle-color);
}

.bolder-4 {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: var(--red-color);
}

.about-image img {
    max-width: 452px;
    height: 470px;
    margin-right: 95px;
}

.about_image {
    background-color: transparent;
    border: none;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

.locate_image {
    background-color: transparent;
    border: none;
    margin-top: 100px;
    margin-right: 50px;
}

.test-image {
    background-color: transparent;
    border: none;
    margin-top: 100px;
    margin-right: 50px;
}

.quote {
    transform: translateX(-50%);
    transform: translateY(-160%);
    margin-left: 50px;
}

.test-desc {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: var(--subtitle-color);
    margin-top: 150px;
}

.light {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    letter-spacing: 0.01em;
    color: var(--subtitle-color);
}

.people-image {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.vision {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0em;
    color: var(--location-color);
    margin-left: 10px;
}

.about_image img {
    max-width: 600px;
    width: 560px;
    height: 413px;
    margin-right: 95px;
}

.content {
    display: flex;
    flex-direction: column;
}

.about-title {
    width: 450px;
    height: 86px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: var(--link-color);
    margin-bottom: 30px;
}

.about-title span {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: var(--red-color);
}

.about-subtitle {
    width: 520px;
    height: 270px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--subtitle-color);
}

.about-subtitle span {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: var(--red-color);
}

.center-service {
    margin: 70px 0;
    position: relative;
}

.culture {
    position: relative;
    background-color: var(--red-color);
}

.center-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.culture-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center-content {
    max-width: 550px;
}

.culture-content {
    max-width: 550px;
    margin-right: 60px;
}

.center-title {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 32px;
    line-height: 134%;
    color: var(--link-color);
    margin-bottom: 15px;
    margin-right: 10px;
}

.culture-title {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 32px;
    line-height: 141%;
    color: var(--white-color);
    margin-top: 40px;
    margin-bottom: 50px;
}

.center-desc {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--location-color);
}

.culture-desc {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 141%;
    text-align: justify;
    color: var(--white-color);
    margin-bottom: 20px;
}

.culture-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 30px;
}

.culture-image img {
    width: 560px;
    height: 364px;
}

.about-2 {
    position: relative;
    padding: 60px 0;
    background-color: var(--gray-color);
    margin-bottom: 50px;
}

.about-3 {
    position: relative;
    padding: 60px 0;
    background-color: var(--gray-color);
    margin: 0 auto;
}

.manage {
    position: relative;
    padding: 60px 0;
    background-color: var(--white-color);
    margin-bottom: 50px;
    width: 1540px;
    height: 500px;
}

.manage2 {
    position: relative;
    padding: 60px 0;
    background-color: var(--gray-color);
    margin-bottom: 20px;
    width: 1540px;
    height: 500px;
}

.manage_2 {
    position: relative;
    padding: 60px 0;
    background-color: var(--white-color);
    margin-bottom: 20px;
    width: 1540px;
    height: 650px;
}

.manage3 {
    position: relative;
    padding: 60px 0;
    background-color: var(--white-color);
    margin-bottom: 20px;
    width: 1540px;
    height: 500px;
}

.manage4 {
    position: relative;
    padding: 60px 0;
    background-color: var(--gray-color);
    margin-bottom: 20px;
    width: 1540px;
    height: 820px;
}

.photo-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.photo-content2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.photo-content_2 {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
}

.photo-content3 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.photo-content4 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.photo-title {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-140%);
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 32px;
    line-height: 141%;
    color: var(--location-color);
}

.photo-title2 {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 32px;
    line-height: 141%;
    color: var(--subtitle-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.photo-title_2 {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 36px;
    line-height: 141%;
    text-align: center;
    color: var(--subtitle-color);
    margin-bottom: 20px;
}

.photo-title3 {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 32px;
    line-height: 141%;
    color: var(--subtitle-color);
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-title4 {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 32px;
    line-height: 141%;
    color: var(--subtitle-color);
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.photo-images2 {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 20px;
}

.photo-images_2 {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 20px;
}

.photo-images3 {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 20px;
}

.photo-images4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
}

.photo-images img {
    max-width: 100%;
    height: auto;
    border: 1px solid var(--white-color);
    border-radius: 5px;
    margin: 150px;
    transform: translateY(-50%);
}

.photo-images2 img {
    max-width: 100%;
    height: auto;
    border: 1px solid var(--white-color);
}

.photo-images2:not(:last-child) {
    margin-right: 60px;
}

.photo-images3 img {
    max-width: 100%;
    height: auto;
    border: 1px solid var(--white-color);
}

.photo-images3:not(:last-child) {
    margin-right: 60px;
}

.photo-images4 img {
    max-width: 100%;
    height: auto;
    border: 1px solid var(--white-color);
}

.photo-images4:not(:last-child) {
    margin-right: 60px;
}

.about-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-wrap2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.about_content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about_content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about__title {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 48px;
    line-height: 141%;
    color: var(--subtitle-color);
    margin-right: 10px;
}

.about__title2 {
    font-family: var(--main-font);
    font-weight: 400;   
    font-size: 48px;
    line-height: 141%;
    text-align: center;
    color: var(--subtitle-color);
    margin-bottom: 10px;
}

.bolder-2 {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 48px;
    line-height: 141%;
    color: var(--subtitle-color);
}

.about__image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__image2 {
    display: block;
    align-items: center;
    justify-content: center;
}

.about__image2 img {
    max-width: 100%;
    height: auto;
}

.line-red {
    width: 1540px;
    height: 20px;
    background-color: var(--red-color);
}

.about__image img {
    width: 394px;
    height: 220px;
}

.info {
    margin: 0;
    background-color: var(--white-color);
}

.info-title {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 32px;
    line-height: 141%;
    color: var(--location-color);
    margin-bottom: 40px;
}

.info-desc {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 141%;
    text-align: justify;
    color: var(--location-color);
}

.bolder-3 {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 141%;
    text-align: justify;
    color: var(--red-color);
}

.future {
    margin: 70px 0;
    position: relative;
}

.future-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.future-title {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 32px;
    line-height: 178%;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: var(--location-color);
    margin-bottom: 60px;
}

.future-desc {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: 0.01em;
    color: var(--location-color);
    margin-bottom: 20px;
    margin-left: 40px;
}

.locate-desc {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: var(--subtitle-color);
    margin-left: 110px;
    margin-top: 20px;
}

.icon-image {
    width: 70px;
    height: 70px;
    display: flex;
    margin-bottom: 30px;
    transform: translateY(110%);
}

.vision-2 {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 24px;
    line-height: 192%;
    text-align: center;
    color: var(--link-color);
    margin-left: 40px;
}


.content-2 {
    display: flex;
    flex-direction: column;
}

/* CENTER - END */

/* SERVICE - START */

.service {
    position: relative;
    padding: 60px 0;
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title h2 {
    width: 288px;
    height: 43px;
    margin-top: 20px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 40px;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: space-around;
}

.service-card__image img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.service-card__title {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    color: var(--red-color);
    margin-bottom: 15px;
}

.service-card__subtitle {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--subtitle-color);
    margin-bottom: 15px;
}

.service-card__button {
    width: 120px;
    height: 42px;
    background-color: var(--red-color);
    color: var(--white-color);
    gap: 10px;
    border-radius: 4px;
    color: var(--white-color);
    border: 1px solid var(--red-color);
    transition: all 0.2s ease;
}

.service-card__button:hover {
    background-color: transparent;
    color: var(--red-color);
}

/* SERVICE - END */

/* CONTACT - START */

.contact {
    position: relative;
    padding: 60px 0;
    background-color: var(--white-color);
    padding: 20px;
}

.contact-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    flex: 1;
}

.contact-card {
    width: calc(33.3% - 13.1px);
}

.contact-logo {
    width: 120px;
    height: 56px;
    margin-top: 28px;
}

.contact-content {
    background-color: transparent;
    padding: 20px 0;
}

.test-content {
    background-color: transparent;
    padding: 20px 0;
}

.contact-location {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--location-color);
    margin-bottom: 15px;
}

.contact-subtitle {
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: var(--location-color);
}

.contact {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--location-color);
    margin-bottom: 0px;
}


/* CONTACT - END */

/* FOOTER - START */

.footer {
    background-color: var(--red-color);
    padding: 16px 0;
}

.footer-text {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--white-color);
    text-align: center;
}

/* FOOTER - END */

/* MEDIA QUERIES - START */

@media screen and (max-width: 950px) {
    .header-link {
        font-size: 16px;
    }

    .header-link:not(:last-child) {
        margin-right: 25px;
    }

    .header-buttons {
        column-gap: 12px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 12px 0;
    }

    .header-nav,
    .header-buttons {
        display: none;
    }

    .header-mobile {
        display: block;
    }

    .header-nav {
        display: none;
    }

    .banner {
        margin: 32px 0;
    }

    .banner-wrap {
        flex-direction: column-reverse;
    }

    .banner-image {
        margin-bottom: 34px;
    }

    .banner-title {
        width: auto;
        height: auto;
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 34px;
        line-height: 45px;
        text-align: center;
        margin-bottom: 24px;
    }

    .banner-title span {
        width: auto;
        height: auto;
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 34px;
        line-height: 45px;
        text-align: center;
    }

    .banner-subtitle {
        font-family: var(--main-font);
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        margin-bottom: 24px;
        color: var(--subtitle-color);
    }

    .banner-button {
        display: block;
        margin: 0 auto;
    }

    .about {
        margin: 32px 0;
    }

    .about-2 {
        display: block;
        margin: 0 auto;
    }

    .about-content {
        flex-direction: column;
    }

    .about-title {
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 32px;
        line-height: 42px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .about-title span {
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 32px;
        line-height: 42px;
        text-align: center;
    }

    .about-subtitle {
        font-family: var(--main-font);
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
    }

    .about-subtitle span {
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
    }

    .section-title h2 {
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 32px;
        line-height: 42px;
        text-align: center;
    }

    .service-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;  
    }

    .service-card {
        flex-direction: column;
        text-align: center;
    }

    .service-card__image {
        margin-bottom: 15px;
    }

    .service-card__image img {
        max-width: 100px;
        height: auto;
    }

    .service-card__title {
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 28px;
        line-height: 28px;
        color: var(--red-color);
        margin: 10px 0;
    }
    
    .service-card__subtitle {
        font-family: var(--main-font);
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 20px;
        color: var(--subtitle-color);
    }

    .service-card__button {
        font-family: var(--main-font);
        font-weight: 400;
        font-size: 18px;
        padding: 10px 20px;
        line-height: 26px;
        background-color: var(--red-color);
        color: var(--white-color);
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .contact {
        margin: 32px 0;
    }

    .contact-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;  
    }

    .contact-card {
        flex-direction: column;
        text-align: center;
    }

    .contact-logo {
        margin-bottom: 15px;
        margin: 0 auto;
    }

    .contact-logo img {
        width: 120px;
        max-width: 200px;
        height: 56px;
        height: auto;
    }

    .contact-content {
        flex-direction: column;
    }

    .about_content {
        flex-direction: column;
    }

    .contact-location {
        width: 260px;
        height: 21px;
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: var(--location-color);
    }

    .contact-subtitle {
        font-family: var(--main-font);
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        color: var(--location-color);
        margin-bottom: 5px;
    }

    .contact {
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: var(--location-color);
        padding: 20px;
        margin-bottom: 5px;
    }

    .contact-card {
       display: flex;
       align-items: center;
       justify-content: center;
       margin: 0 auto;
    }

    .center-service {
        margin: 32px 0;
    }

    .center-wrap {
        flex-direction: column-reverse;
    }

    .about-wrap {
        flex-direction: column-reverse;
    }

    .culture-wrap {
        flex-direction: column;
    }

    .locate-content {
        flex-direction: column;
    }

    .locate_image {
        margin-left: 50px;
    }

    .content-2 {
        display: flex;
        flex-direction: column;
    }

    .icon-image {
        width: 70px;
        height: 70px;
        display: flex;
        margin-bottom: 30px;
        transform: translateY(90%);
        margin-left: 30px;
    }
    
    .vision-2 {
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 24px;
        line-height: 192%;
        text-align: center;
        color: var(--link-color);
        margin-left: 40px;
    }

    .locate-desc {
        margin-left: 140px;
    }

    .about_image {
        margin-left: 70px;
        flex-direction: column-reverse;
    }

    .future-title {
        flex-direction: column-reverse;
        margin-left: 150px;
    }

    .culture-image {
        margin-bottom: 50px;
        margin-right: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-2 {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .center-image {
        margin-bottom: 15px;
    }
}

/* MEDIA QUERIES - END */